@media screen and (max-width: 651px) {

    /* 상단 */
    .header_top {
        width: 450px;
    }
    .header_top ul li  {
        font-size: 10px;
        margin-left: 12px;
    }
    .header_top ul li input {
        width: 50px;
    }
    .header_bottom {
        width: 450px;
        padding-top: 20px;
    }
    .header_bottom a img {
        width: 70px;
    }

    .nav {
        width: 220px;
    }
    .nav li > a {
        font-size: 12px;
    }

    /* 메인 */
    #main {
        width: 450px;
        height: 900px;
    }

    .fade {
        height: 850px;
    }

    .fade_btn {
        top: 800px;
        left: 20px;
    }
    .fade_btn div {
        color: #fff;
    }
    .fade_btn div svg {
        fill: #fff;
    }

    .fade1 {
        width: 450px;
    }
    .fade1 .fade_left {
        width: 270px;
        height: 250px;
        position: absolute;
        top: -80px;
        left: 0px;
        z-index: 500;
        opacity: 0.8;
        line-height: 60px;
        background-color: #fff;
    }
    .fade1 .fade_left p {
        font-size: 30px;
        font-weight: 900;
        margin-left: 10px;
    }
    .fade1 .fade_left img {
        width: 40px;
        margin: 20px 0 0 10px;
    }
    .fade1 .fade_left span {
        margin: 10px 15px 0 0;
        color: #000;
    }
    .fade1 .fade_right {
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 500px;
        float: none;
    }

    .fade2 {
        width: 450px;
    }
    .fade2 .fade_left {
        width: 270px;
        height: 250px;
        position: absolute;
        top: -80px;
        left: 0px;
        z-index: 400;
        opacity: 0.8;
        line-height: 60px;
        background-color: #fff;
    }
    .fade2 .fade_left p {
        font-size: 30px;
        font-weight: 900;
        margin-left: 10px;
    }
    .fade2 .fade_left h1 {
        font-size: 30px;
        margin-left: 10px;
    }
    .fade2 .fade_left img {
        width: 40px;
        margin: 20px 0 0 10px;
    }
    .fade2 .fade_left span {
        margin: 10px 15px 0 0;
        color: #000;
    }
    .fade2 .fade_right {
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 500px;
        float: none;
    }

    .fade3 {
        width: 450px;
    }
    .fade3 .fade_left {
        width: 270px;
        height: 250px;
        position: absolute;
        top: -80px;
        left: 0px;
        z-index: 300;
        opacity: 0.8;
        line-height: 60px;
        background-color: #fff;
    }
    .fade3 .fade_left p {
        font-size: 30px;
        font-weight: 900;
        margin-left: 10px;
    }
    .fade3 .fade_left h1 {
        font-size: 30px;
        margin-left: 10px;
    }
    .fade3 .fade_left img {
        width: 40px;
        margin: 20px 0 0 10px;
    }
    .fade3 .fade_left span {
        margin: 10px 50px 0 0;
        color: #000;
    }
    .fade3 .fade_right {
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 500px;
        float: none;
    }

    .fade4 {
        width: 450px;
    }
    .fade4 .fade_left {
        width: 270px;
        height: 250px;
        position: absolute;
        top: -80px;
        left: 0px;
        z-index: 200;
        opacity: 0.8;
        line-height: 60px;
        background-color: #fff;
    }
    .fade4 .fade_left p {
        font-size: 30px;
        font-weight: 900;
        margin-left: 10px;
    }
    .fade4 .fade_left h1 {
        font-size: 30px;
        margin-left: 10px;
    }
    .fade4 .fade_left img {
        width: 40px;
        margin: 20px 0 0 10px;
    }
    .fade4 .fade_left span {
        margin: 10px 15px 0 0;
        color: #000;
    }
    .fade4 .fade_right {
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 500px;
        float: none;
    }

    .fade5 {
        width: 450px;
    }
    .fade5 .fade_left {
        width: 270px;
        height: 250px;
        position: absolute;
        top: -80px;
        left: 0px;
        z-index: 100;
        opacity: 0.8;
        line-height: 60px;
        background-color: #fff;
    }
    .fade5 .fade_left p {
        font-size: 30px;
        font-weight: 900;
        margin-left: 10px;
    }
    .fade5 .fade_left h1 {
        font-size: 30px;
        margin-left: 10px;
    }
    .fade5 .fade_left img {
        width: 40px;
        margin: 20px 0 0 10px;
    }
    .fade5 .fade_left span {
        margin: 10px 20px 0 0;
        color: #000;
    }
    .fade5 .fade_right {
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 500px;
        float: none;
    }

    /* Task chair */
    #content1 {
        width: 450px;
        height: 2700px;
    }

    .con1_title {
        padding-top: 90px;
    }
    .con1_title h2 {
        font-size: 28px;
    }
    .con1_title a {
        padding-top: 20px;
        font-size: 12px;
        color: #002BD2;
    }

    .con1_left {
        width: 450px;
    }
    .con1_left_1 img {
        width: 400px;
    }

    .con1_left_1 p {
        font-size: 30px;
    }
    .con1_left_1 span {
        font-size: 14px;
    }

    .con1_left_2 img {
        width: 400px;
    }
    .con1_left_2 p {
        font-size: 30px;
    }
    .con1_left_2 span {
        font-size: 14px;
    }

    .con1_right {
        width: 450px;
        float: left;
    }
    
    .con1_right_1 img {
        width: 400px;
    }
    .con1_right_1 p {
        font-size: 30px;
    }
    .con1_right_1 span {
        font-size: 14px;
    }

    .con1_left_2 {
        margin-bottom: 80px;
    }
    .con1_right_2 img {
        width: 400px;
    }
    .con1_right_2 p {
        font-size: 30px;
    }
    .con1_right_2 span {
        font-size: 14px;
    }

    /* Kids chair */
    #content2 {
        width: 450px;
        height: 2100px;
    }
    
    .con2_box {
        display: block;
    }
    .con2_box_1 {
        width: 350px;
        margin: 0 0 80px 50px;
    }
    .con2_box_1 p {
        font-size: 30px;
    }
    .con2_box_1 span {
        font-size: 14px;
    }

    .con2_box_2 {
        width: 350px;
        margin: 0 0 80px 50px;
    }
    .con2_box_2 p {
        font-size: 30px;
    }
    .con2_box_2 span {
        font-size: 14px;
    }

    .con2_box_3 {
        width: 350px;
        margin: 0 0 80px 50px;
    }
    .con2_box_3 p {
        font-size: 30px;
    }
    .con2_box_3 span {
        font-size: 14px;
    }

    /* Interior chair */
    #content3 {
        width: 450px;
        height: 2100px;
    }
    
    .con3_box {
        display: block;
    }
    .con3_box_1 {
        width: 350px;
        margin: 0 0 80px 50px;
    }
    .con3_box_1 p {
        font-size: 30px;
    }
    .con3_box_1 span {
        font-size: 14px;
    }

    .con3_box_2 {
        width: 350px;
        margin: 0 0 80px 50px;
    }
    .con3_box_2 p {
        font-size: 30px;
    }
    .con3_box_2 span {
        font-size: 14px;
    }

    .con3_box_3 {
        width: 350px;
        margin: 0 0 80px 50px;
    }
    .con3_box_3 p {
        font-size: 30px;
    }
    .con3_box_3 span {
        font-size: 14px;
    }


    /* more */
    #content4 {
        width: 100%;
        height: 700px;
    }

    .news{
        width: 450px;
    }
    .news ul li h3 {
        width: 80px;
        padding: 20px 0 0 20px;
        font-size: 14px;
    }
    .news ul li p {
        margin-left: 15px;
        padding: 20px 20px 0 0;
        font-size: 12px;
    }
    .news ul li a {
        margin-left: 20px;
    }

    .sns{
        width: 450px;
    }
    .sns ul li {
        width: 80px;
    }

    .blog{
        width: 450px;
        height: 360px;
        margin: 0 auto;
        margin-top: 80px;
        display: flex;
    }

    .blog_left h3 {
        font-size: 14px;
    }
    .blog_left h1 {
        font-size: 18px;
    }
    .blog_left p {
        font-size: 11px;
    }
    .blog_right {
        width: 600px;
        height: 360px;
        margin-top: 150px;
    }
    .blog_right img {
        width: 100%;
    }

    /* 하단 */
    #footer {
        height: 580px;
    }

    .footer_top {
        width: 450px;
    }
   
    .footer_box {
        width: 450px;
    }

    .footer_left {
        display: none;
    }

    .footer_right {
        width: 450px;
    }
    .footer_right_t ul li {
        padding-right: 10px;
    }
   
    .footer_right_list li ul {
        padding-right: 8px;
    }
    .footer_right_list li ul li h4 {
        font-size: 11px;
    }
    .footer_right_list li ul li span {
        font-size: 13px;
    }
    .footer_right_list li ul li p {
        font-size: 6px;
    }
}